.card-container {
  flex: 0 1 26.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left ;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 26px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.3s ease;
}

.card-container:hover {
  transform: scale(1.05);
}
